@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pseudo-AnimeList</h1>
    <p>Desenvolvido por <a href="https://github.com/Ikezakii">Ikezakii</a></p>
    
</div>
